.gif-carg-popup {
    position: fixed;
    top: calc(100% - 57px);
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 10;
    background: var(--clr-white) url('/img/background-christmas-popup.jpg') center center;
    background-size: 300px auto;
    border-top: 1px solid var(--clr-light-grey);
    box-shadow: 0 0 5px 2.5px rgba(0,0,0,.25);
    font-size: .95rem;
    transition: top .3s ease;
    body.bono-regalo & {
        display: none;
    }
    &__opened {
        top: 0;
        .gif-carg-popup__header button {
            background: transparent url('/img/ico/ico-close.svg') calc(100% - 15px) center no-repeat;
            background-size: 25px auto;
        }
    }
    &__content {
        max-width: 605px;
        margin-inline: auto;
    }
    p {
        &:not(:last-child) {
            margin-bottom: .75rem;
        }
    }
    &__inner {
        padding: calc(60px * .5);
        height: 100%;
        background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgba(white,.9) 54%,rgba(white,.8) 80%,rgba(white,0) 100%);
    }
    &__header {
        display: flex;
        justify-content: space-between;
        background: var(--clr-gold) url('/img/background-popup.svg') left top;
        border-bottom: 1px solid var(--clr-dark-gold);
        margin: calc(-60px * .5) calc(-60px * .5) calc(30px * .5);
        padding: calc(30px * .5);
        align-items: center;
        position: relative;
        button {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            z-index: 10;
            border: none;
            background: transparent url('/img/ico/ico-arrow.svg') calc(100% - 15px) center no-repeat;
            background-size: 30px auto;
            cursor: pointer;
        }
        .gif-carg-popup__content {
            @media screen and (min-width: 605px) {
                position: relative;
                width: 605px;
            }
        }
    }
}

.page-title--subtitle {
    .gif-carg-popup__header & {
        color: var(--clr-black);
        margin: 0;
    }
}
