.gif-carg-popup {
    &__opened {
        .gif-carg-popup {
            &__data {
                display: flex;
                align-items: center;
                justify-content: center;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100dvh;
                background-color: rgba(102,119,100,.9);
                z-index: 10;
                &__inner {
                    background-color: white;
                    width: 90vw;
                    max-width: 600px;
                    padding: calc(45px * .5);
                    border-radius: 10px;
                    font-size: .95rem;
                    position: relative;
                    p {
                        margin-bottom: .5rem;
                    }
                    .intro-links__link--alone {
                        margin: 1rem 0 0;
                    }
                }
            }
        }
    }
    &__data {
        display: none;
    }
    &__btn {
        display: flex;
        align-items: center;
        gap: 0 calc(20px * .5);
        background: none;
        background-color: #667764;
        border: none;
        border-radius: 10px;
        padding: 5px 15px;
        color: white;
        position: fixed;
        right: calc(30px * .5);
        bottom: calc(30px * .5);
        font-weight: 700;
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: .025rem;
        box-shadow: 0 0 2.5px 2.5px rgba(white,.5);
        cursor: pointer;
        animation: shake .5s;
        animation-iteration-count: 2;
        &--close {
            width: 40px;
            height: 40px;
            position: absolute;
            right: 0;
            top: -40px;
            background: transparent url('/img/ico/ico-close-white.svg') center center no-repeat;
            border: none;
            background-size: 20px;
        }
        &__ico {
            height: 20px;
        }
    }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    12% { transform: rotate(5deg); }
    25% { transform: rotate(0deg); }
    50% { transform: rotate(-5deg); }
    62% { transform: rotate(0deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}
