.prices {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    &::after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: var(--clr-primary);
        position: absolute;
        top: 0;
        left: 50%;
    }
    li {
        display: flex;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }
    span {
        flex-basis: 50%;
    }
    &__label {
        text-align: right;
        padding-left: 5px;
        line-height: 1.25;
    }
}

.schedules-table {
    display: none;
    @media screen and (min-width: 107.1875em) {
        display: table;
    }
}

.schedules-mobile {
    margin-bottom: 2rem;
    text-align: center;
    @media screen and (min-width: 107.1875em) {
        display: none;
    }
}
