.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--clr-secondary) url('../img/enon-simbolo.svg') center center no-repeat;
    background-size: 180%;
    height: 100dvh;
    width: 80%;
    padding: .9375rem;
    animation: menuIn .3s ease-in-out;
    display: none;
    z-index: 1;
    @media screen and (min-width: 75em) {
        display: flex;
        width: 250px;
    }
    &.menu-opened {
        display: flex;
    }
    &__items {
        margin: 0;
        padding: 0;
        list-style-type: none;
        align-self: center;
        &--inner {
            padding-left: 1rem;
            .main-menu__link {
                font-size: 1rem;
            }
        }
    }
    &__link {
        color: var(--clr-black);
        text-decoration: none;
        display: block;
        margin-bottom: .9375rem;
        font-size: 1.25rem;
        &.selected {
            font-weight: 700;
        }
    }
}

@keyframes menuIn {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

