::selection {
    background-color: var(--clr-secondary);
}

body {
    font: 400 1rem/1.5 'Montserrat', Helvetica, Arial, sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    &.menu-opened {
        overflow: hidden;
        &::after {
            content: '';
            width: 100%;
            height: 100dvh;
            background-color: rgba(white, .9);
            position: fixed;
            top: 0;
            animation: menuIn .5s ease-in-out;
        }
    }
    &.dark-mode.menu-opened {
        &::after {
            background-color: var(--clr-primary);
            opacity: .9;
        }
    }
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        opacity: .15;
        z-index: -1;
    }
    &.home-page {
        &::before {
            background: transparent url('../img/background-home.jpg') bottom center no-repeat;
            background-size: cover;
        }
    }
    &.yoga-page {
        &::before {
            background: transparent url('../img/background-yoga.jpg') bottom center no-repeat;
            background-size: cover;
        }
    }
    &.yoga-restaurativo-page {
        &::before {
            background: transparent url('../img/background-yoga-restaurativo.jpg') bottom center no-repeat;
            background-size: cover;
        }
    }
    &.enon-page {
        &::before {
            background: transparent url('../img/background-enon.jpg') bottom center no-repeat;
            background-size: cover;
        }
    }
    &.chiromassage-page {
        &::before {
            background: transparent url('../img/background-quiro.jpg') bottom center no-repeat;
            background-size: cover;
        }
    }
    &.contact-page {
        &::before {
            background: transparent url('../img/background-contacto.jpg') bottom center no-repeat;
            background-size: cover;
        }
    }
}

button {
    cursor: pointer;
}

.global-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding: 1.875rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

h1,
h2,
h3,
h4,
strong,
b {
    font-weight: 700;
}

h4 {
    margin-block-end: 1rem;
}

em,
i {
    font-style: italic;
}

ul {
    padding-left: 1rem;
    margin-block-end: 1rem;
}

li {
    margin-bottom: .5rem
}

img {
    max-width: 100%;
}

hr {
    margin-block: 1rem;
    opacity: .15;
    border: 1px solid;
}

.main-content {
    p {
        margin-bottom: .875rem;
        &.quote-author {
            text-align: right;
            margin-bottom: 1.875rem;
        }
    }
}

.page-content {
    background-color: var(--clr-white);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
}

a {
    color: var(--clr-link);
}

.page-title {
    color: var(--clr-primary);
    margin-block-end: 1rem;
    font-size: 1.55rem;
    line-height: 1.15;
    &--subtitle {
        color: var(--clr-primary);
        margin-block-end: 1rem;
        font-size: 1.1rem;
    }
}

.contact-page ul strong {
    display: block;
}

@keyframes menuIn {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
