:root {
    --clr-primary: #a9ef9f;
    --clr-primary-dark: #3f5b45;
    --clr-secondary: #dcb8ff;
    --clr-third: #ff5569;
    --clr-fourth: #ffdeb6;
    --clr-fifth: #b8fff1;
    --clr-sixth: #f9ffca;

    --clr-black: #333;
    --clr-white: #f9f9f9;
}
