:root {
    --clr-light: #fffdf9;
    --clr-dark: #282e28;
    --clr-primary: #667764;
    --clr-secondary: #bbddc4;
    --clr-accent: #c54329;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);

    --clr-black: #333;
    --clr-white: #f9f9f9;
}

.dark-mode {
    --clr-light: #fffdf9;
    --clr-dark: #282e28;
    --clr-primary: #2e3d2c;
    --clr-secondary: #131915;
    --clr-accent: #c54329;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}
